{{!-- Proyecto 26 - Double Vertical Slider --}}

<body class="barraOculta">

    <div class="slider-container nosotros">
        <div class="left-slide">
            <div style="background-color:#26aa89">
                <h2> ¿Cómo funciona? </h2>
                <p> Simplemente definí la cantidad de comidas<br> que queres recibir a la semana y <br> el plan
                    alimenticio
                    que más se<br> adecue a tu dieta, del resto nos <br> encargamos nosotros!
                </p>

            </div>
            <div style="background-color: #26aa89">
                <h2>Dietas</h2>
                <p> Contamos con opciones vegetarianas,<br> veganas y aptas para celíacos <br>para que puedas
                    seleccionar <br>
                    tu plan según tus necesidades. </p>

            </div>
            <div style="background-color: #26aa89">
                <h2>¿Cómo me suscribo?</h2>
                <p>Contactate con nosotros para recibir <br> asesoramiento y poder personalizar <br>tu plan a tus
                    gustos.</p>

            </div>
            <div style="background-color: #26aa89">
                <h2>¿Quienes somos?</h2>
                <p>Ofrecemos planes de box semanales a domicilio <br> que incluyen alimentos frescos y
                    un <br> recetario para planificar tus comidas <br> y asegurarte una alimentación completa <br> y
                    nutricionalmente
                    equilibrada</p>
            </div>

        </div>
        <div class="right-slide">
            <div style="background-image: url('./img/HelloFresh_Unboxing.jpg">
            </div>
            <div style="background-image: url('./img/recibe.jpeg')">
            </div>
            <div style="background-image: url('./img/cocinando.jpg')">
            </div>
            <div style="background-image: url('./img/familia.jpeg')">
            </div>
        </div>
        <div class="action-buttons">
            <button class="down-button botonSlides">
                <i class="fas fa-arrow-down"></i>
            </button>
            <button class="up-button botonSlides">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>

</body>

{{!-- Proyecto 12 - FAQ--}}

<body class="bodyFYQ">


    <h2 class="tituloP12 text-center fyq"> Preguntas Frecuentes </h2>

    <div class="faq-container">

        <div class="faq">
            <h3 class="faq-title">
                ¿Qué métodos de pago aceptan?
            </h3>
            <p class="faq-text">
                Podés pagar con tarjeta de débito o crédito Visa, MasterCard o American Express.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="faq">
            <h3 class="faq-title">
                ¿Se trata de un cobro mensual o semanal?
            </h3>
            <p class="faq-text">
                Procesamos todos los cobros por semana, sólo se te cobrará por los pedidos activos que no se hayan
                omitido.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="faq">
            <h3 class="faq-title">
                ¿A dónde hacen envíos?
            </h3>
            <p class="faq-text">
                Entregamos sin cargo en todo CABA, partidos de Vicente López, San Isidro y Zona Oeste. Tenemos muchos
                más planes de expansión. ¡Estate atentx a las novedades en redes sociales!
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="faq">
            <h3 class="faq-title">
                ¿Cuándo son las entregas y qué pasa si no estoy en casa?
            </h3>
            <p class="faq-text">
                Los plazos de entrega son de 19 a 22 hs los días lunes. <br><br> Si no estás en casa, ¡no te preocupes! Siempre
                podes agregar instrucciones de entrega especiales desde el acceso «Soy Cliente» en el home de la web de
                HolaVeggie, por ejemplo decirnos otra dirección de entrega o darnos alguna instrucción especial, como
                dejarle la caja a un vecino o en portería del edificio
                <br>
                <br>

                Tené en cuenta que la caja no tiene devolución. Cada caja es única, y está llena de ingredientes frescos
                lista para que la recibas y disfrutes. <br> <br>

                Para cambiar tu dirección, hacénoslo saber hasta el jueves por la noche para asegurarte que podamos
                entregarte en la nueva dirección. Cada zona tiene un chofer asignado, por eso es importante que el
                cambio lo hagas con tiempo (hasta el jueves inclusive) para organizar la logística y poder entregarte en
                el nuevo domicilio.
                <br>
                <br>

                Desaparecí de la faz de la tierra al momento de recibir mi caja <br> <br>

                En caso de que no estés en tu casa, no podamos comunicarnos con vos telefónicamente y no tengas una
                nueva dirección o instrucción especial para darnos, entonces la caja no va a ser entregada (recordá que
                la caja no tiene devolución, está hecha especialmente para vos, con tus recetas y llena de ingredientes
                frescos que necesitan ser refrigerados o freezados).
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="faq">
            <h3 class="faq-title">
                ¿Cómo se mantiene fresca mi comida?
            </h3>
            <p class="faq-text">
                Cada receta viene con información nutricional detallada, incluidas las alergias alimentarias. Podes
                encontrar esta información en todas las tarjetas digitales de recetas y online cuando elijas tus
                comidas.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>


</body>

{{!-- Proyecto 12 - FAQ--}}
<script>
    const toggles = document.querySelectorAll('.faq-toggle')

    toggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
            toggle.parentNode.classList.toggle('active')
        })
    })
</script>

{{!-- Proyecto 26 - Double Vertical Slider --}}
<script>
    const sliderContainer = document.querySelector('.slider-container')
    const slideRight = document.querySelector('.right-slide')
    const slideLeft = document.querySelector('.left-slide')
    const upButton = document.querySelector('.up-button')
    const downButton = document.querySelector('.down-button')
    const slidesLength = slideRight.querySelectorAll('div').length

    let activeSlideIndex = 0

    slideLeft.style.top = `-${(slidesLength - 1) * 100}vh`

    upButton.addEventListener('click', () => changeSlide('up'))
    downButton.addEventListener('click', () => changeSlide('down'))

    const changeSlide = (direction) => {
        const sliderHeight = sliderContainer.clientHeight
        if (direction === 'up') {
            activeSlideIndex++
            if (activeSlideIndex > slidesLength - 1) {
                activeSlideIndex = 0
            }
        } else if (direction === 'down') {
            activeSlideIndex--
            if (activeSlideIndex < 0) {
                activeSlideIndex = slidesLength - 1
            }
        }

        slideRight.style.transform = `translateY(-${activeSlideIndex * sliderHeight}px)`
        slideLeft.style.transform = `translateY(${activeSlideIndex * sliderHeight}px)`
    }
</script>